# Choose CNI network
# Possible values are calico, flannel, weave
cni_network: flannel
# Uncomment if using Flannel
network_cidr: 10.244.0.0/16
# Uncomment if using Calico
#network_cidr: 192.168.0.0/16

# Kubernetes version
kubernetes_version: v1.12.0

# Deploy monitoring
deploy_monitoring: true

# Deploy helm
deploy_helm: true

# Deploy Dashboard
deploy_dashboard: true

# Deploy demo app
deploy_demo_app: true

# Deploy federation components
deploy_federation: false